.dd {
    /* padding-top: 7px; */
    position: relative;
    max-width: 180px;
    min-width: 70px;
}

.dd.open {
    margin-top: -1px;
    margin-left: -3px;
}

.dd.open .dd-selection {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1)
}

.dd.open .dd-options {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    display: inherit;
}

.dd-selection {
    align-items: center;
    background: url('../assets/arrow-down.svg') no-repeat right .8rem center, #292b3a;
    background-size: 1rem;
    cursor: pointer;
    display: flex;
    min-height: 35px;
    padding: 0 .8rem;
    width: 100%;
}

.dd-options {
    background-color: #292b3a;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dd-item {
    align-items: center;
    display: flex;
    min-height: 35px;
    padding: 0 .8rem;
}

.dd-item:hover {
    background-color: #202333;
    cursor: pointer;
}

.dd.open .dd-selection:hover {
    background-color: #202333;
    cursor: pointer;
}

.dd-selection:hover {
    cursor: pointer;
}

.dd-selection span {
    pointer-events: none;
}

/* tone */
.tone {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
  }
  
  .icons {
    background-size: 1.4rem;
    background-repeat: no-repeat;
    background-position: left .8rem center;
  }
  
  .positive {
    background-image: url('../assets/tone-positive-solid.svg');
    color: #008000;
  }
  
  .neutral {
    background-image: url('../assets/tone-neutral-solid.svg');
    color: #ffa500;
  }
  
  .negative {
    background-image: url('../assets/tone-negative-solid.svg');
    color: #d65454;
  }
  
  .social {
    background-position: left 0.8rem center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
  }

.dd-selection.positive {
    background: url('../assets/tone-positive-solid.svg') no-repeat left .8rem center, url('../assets/arrow-down.svg') no-repeat right .8rem center, #292b3a;
    background-size: 1.4rem, 1rem;
}

.dd-selection.neutral {
    background: url('../assets/tone-neutral-solid.svg') no-repeat left .8rem center, url('../assets/arrow-down.svg') no-repeat right .8rem center, #292b3a;
    background-size: 1.4rem, 1rem;
}

.dd-selection.negative {
    background: url('../assets/tone-negative-solid.svg') no-repeat left .8rem center, url('../assets/arrow-down.svg') no-repeat right .8rem center, #292b3a;
    background-size: 1.4rem, 1rem;
}